---
import CarrierDashboard from "../../../components/CarrierDashboard"
import Layout from "../../../layouts/Layout.astro"

---

<Layout title="Tablero de administrador">
<main class="flex flex-row">
    <CarrierDashboard client:only/>
</main>
<script>
    import { authAdmin, authTransport } from "../../../helpers/auth"
    const isAuth =authTransport()
    const isAuthAdmin = authAdmin() 
    if(!isAuth || isAuthAdmin) window.location.href = "/" 
</script>
</Layout>