---
import FormLogin from "../../components/FormLogin"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Ingresar">
    <section class="flex justify-center items-center h-dvh">

        <FormLogin/>
    </section>
</Layout>