---
import FormLogin from "../../components/FormLogin"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Ingresar">
    <main class="flex justify-center items-center">
        <FormLogin client:visible/>
    </main>
</Layout>