---
import Layout from "../../layouts/Layout.astro"
import RegisterGoogle from "../../components/RegisterGoogle"
---

<Layout title="Registro Google">
    <section class="flex justify-center items-center">
        <RegisterGoogle client:load/>
    </section>
</Layout>