---
import Layout from "../../layouts/Layout.astro"
import SelectForm from '../../components/SelectForm'
---

<Layout title="Registrarte">
    <section class="flex justify-center items-center">
        <SelectForm client:visible />
    </section>
</Layout>