---
import SideMenu from "../../components/SideMenu"
import Layout from "../../layouts/Layout.astro"
import UserInfoDashboard from "../../components/UserInfoDashboard"
---

<Layout title="Dashboard">
    <main class="flex flex-row">
        <SideMenu client:only transition:name="sideBar" transition:persist />
        <UserInfoDashboard client:only/>
    </main>
    <script>
        import { auth } from "../../helpers/auth";

        const isAuth =auth()
        if(!isAuth) window.location.href = "/" 
    </script>
</Layout>