---
import SideMenu from "../../components/SideMenu"
import UserSecurity from "../../components/UserSecurity"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Dashboard - Seguridad">
    <main class="flex  ">

        <SideMenu client:only />
        <UserSecurity client:only />
    </main>
    <script>
        import { auth } from "../../helpers/auth";

        const isAuth =auth()
        if(!isAuth) window.location.href = "/"
    </script>
</Layout>