---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 - Not Found">
    <main class="min-h-dvh flex justify-center items-center p-4">
        <section class=" relative items-center rounded-lg text-center p-4 flex flex-col">
            <h1 class="text-9xl text-primary">404</h1>
            <p  class="text-5xl text-gray" >PAGE NOT FOUND </p>
        
        <button class=" bg-primary z-10 w-fit my-10 text-white text-lg font-bold px-6 py-2 rounded-md hover:bg-white hover:text-primary border-2 border-primary" onclick="location.href='/'">
            Volver al inicio
        </button>
        <img class="absolute  right-4 -bottom-[90px]" src="/svgs/camion2.svg" alt="Camion">
        </section>
    </main>
</Layout>