---
import Accordion from "../components/secondary/Accordion"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Preguntas Frecuentes">
    <main class="flex flex-col justify-center items-center">
        <section class=" rounded-lg py-6 bg-white flex flex-col items-center m-10">
            <h1 class="text-4xl font-bold text-primary mb-4">Preguntas Frecuentes</h1>
            <Accordion client:idle category="Rastreo y envio" title="¿Cómo puedo rastrear mi paquete?" content="Puedes rastrear tu paquete ingresando el número de seguimiento en la sección de rastreo de nuestra aplicación. Recibirás actualizaciones en tiempo real sobre la ubicación y el estado de tu envío."/>
            <Accordion client:idle category="Rastreo y envio" title="¿Cuánto tiempo tarda en llegar mi envío?" content="El tiempo de entrega varía según el destino y el tipo de servicio seleccionado. Por lo general, los envíos nacionales tardan entre 1 y 3 días hábiles, mientras que los envíos internacionales pueden tardar de 5 a 10 días hábiles."/>
            <Accordion client:idle category="Rastreo y envio" title="¿Qué hago si mi paquete se ha perdido?" content="Si tu paquete no ha llegado en el tiempo estimado de entrega, por favor contacta a nuestro equipo de soporte con tu número de seguimiento. Investigaremos el caso y te mantendremos informado sobre el estado de tu paquete."/>
            <Accordion client:idle category="Rastreo y envio" title="¿Puedo cambiar la dirección de entrega una vez que el paquete ha sido enviado?" content="Sí, es posible cambiar la dirección de entrega, pero esto puede estar sujeto a tarifas adicionales y tiempos de procesamiento. Por favor, contacta a nuestro equipo de soporte lo antes posible para hacer la solicitud."/>
            <Accordion client:idle category="Pagos" title="¿Qué métodos de pago aceptan?" content="Aceptamos varios métodos de pago, incluyendo tarjetas de crédito y débito, transferencias bancarias y pagos a través de plataformas digitales. Selecciona el método de pago que más te convenga durante el proceso de envío."/>
        </section>
    </main>
</Layout>

