---
import Layout from '../layouts/Layout.astro';
import QuoteShipping from '../components/QuoteShipping'
---

<Layout title="Expreso Rivadavia">
	<main>
		<h1 class="text-5xl text-black font-poppins font-normal">Hello World</h1>
		<QuoteShipping client:visible/>

	</main>
</Layout>

