---
import SideMenu from '../components/SideMenu';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Expreso Rivadavia">
	<main>
		<h1 class="text-5xl text-black font-poppins font-normal">Hello World</h1>
		<SideMenu client:only />
	</main>
</Layout>

