---
import Layout from '../layouts/Layout.astro';
import QuoteShipping from '../components/QuoteShipping'
import MapSection from '../components/MapSection.astro';
import ReviewsUsers from '../components/ReviewsUsers'
---

<Layout title="Expreso Rivadavia">
	<main class="mb-12">
			<img src="./banner.png" alt="" class="-z-50 relative" style="mask-image: linear-gradient(black 85%, transparent);">
			<div class="w-[60%] m-auto -mt-12 sm:-mt-20 lg:-mt-28 z-50 relative">
				<QuoteShipping client:visible />
			</div>
		<div class="flex justify-center">
			<MapSection/>
		</div>
		<div>
			<ReviewsUsers client:only/>
		</div>
	</main>
</Layout>

