---
import CardReviewPost from "../components/secondary/CardReviewPost";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Comentarios">
    <main class="min-h-dvh flex items-center justify-center ">

        <CardReviewPost client:load></CardReviewPost>
    </main>
</Layout>