---
import CardReview from "../components/secondary/CardReview";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Comentarios">
    <main class="min-h-dvh flex items-center justify-center ">

        <CardReview client:load></CardReview>
    </main>
</Layout>