<footer class="relative flex flex-col bottom-0">
    <div class="flex flex-col justify-between  md:flex-row md:h-40 bg-white items-center  gap-4 px-8 py-4">
        <section>
            <picture class="w-32 h-auto">
                <img src="/logo.png" alt="LOGO" class="w-80">
            </picture>
        </section>
        <section class="flex flex-col gap-4">
            <h1 class="text-2xl text-center">Contactanos</h1>
            <div>
                <p class="text-sm text-gray font-bold">Telefono: <a href="#" class="text-primary font-semibold">+51-6564564654</a></p>
                <p class="text-sm text-gray font-bold">Dirección: <a href="#" class="text-primary font-semibold">Calle 123 xxxx</a></p>
                <p class="text-sm text-gray font-bold">Correo: <a href="#" class="text-primary font-semibold">info@mail.com</a> </p>
            </div>
        </section> 
        <section class="flex flex-col gap-4 ">
            <h1 class="text-2xl">Redes</h1>
            <div class=" flex gap-4 justify-end items-center">
                <a href="#" class=" text-primary font-semibold" >
                    <img  src="/svgs/facebook.svg" alt="Facebook">
                </a>
                <a href="#" class="text-primary font-semibold">
                    <img src="/svgs/instagram.svg" alt="Instagram">
                </a>
            </div>
        </section>
    </div>
    <section class="h-fit flex items-center gap-4 justify-center bg-gray px-4 py-2">
        <p class="text-sm">&copy; 2024 Expreso Rivadavia. Todos los derechos reservados.</p>|
        <p class="text-sm">
            By:
            <a class="text-sm text-primary" href="https://www.linkedin.com/in/valentin-penna-78a5832b6/">Valentin Penna</a>, 
            <a class="text-sm text-primary" href="https://www.linkedin.com/in/fatima-daruich-0a3a532bb/">Fatima Daruich</a>, 
            <a class="text-sm text-primary" href="https://www.linkedin.com/in/nicolas-diaz-99944b232/">Nicolas Diaz</a>, 
            <a class="text-sm text-primary" href="#">Matias Ramirez</a>, 
            <a class="text-sm text-primary" href="https://www.linkedin.com/in/juanpabloramallo/">Juan Pablo Ramallo</a>, 
            <a class="text-sm text-primary" href="https://www.linkedin.com/in/nahuel-juarez-a096a32b4/">Nahuel Juarez</a>, 
            <a class="text-sm text-primary" href="https://www.linkedin.com/in/franco-nicolas-abrego/">Franco Abrego</a>.
        </p>
    </section>
</footer>