<footer class="relative flex flex-col ">
    <div class="flex justify-between h-40 bg-white items-center  gap-4 px-8 py-4">
        <section class="border">
            <picture class="w-32 h-auto">
                <img src="/logo.png" alt="LOGO">
            </picture>
        </section>
        <section class="flex flex-col gap-4">
            <h1 class="text-2xl">Contactanos</h1>
            <div>
                <p class="text-sm text-gray">
                    Telefono
                    <a href="#" class="text-primary font-semibold">+51-6564564654</a>
                </p>
                <p class="text-sm text-gray">dirección: <a href="#" class="text-primary font-semibold">Calle 123 xxxx</a></p>
                <p class="text-sm text-gray">Correo: <a href="#" class="text-primary font-semibold">info@mail.com</a> </p>
            </div>
        </section>
    
    
        <section class="flex flex-col gap-4 ">
            <h1 class="text-2xl">Redes</h1>
            <div class=" flex gap-4 justify-end items-center">
                <a href="#" class=" text-primary font-semibold" >
                    <img  src="/svgs/facebook.svg" alt="Facebook">
                </a>
                <a href="#" class="text-primary font-semibold">
                    <img src="/svgs/instagram.svg" alt="Instagram">
                </a>
                
            </div>
        </section>
    </div>

    <section class="h-fit flex items-center gap-4 justify-center bg-gray px-4 py-2">
        <p class="text-sm">&copy; 2024 empresa. Todos los derechos reservados.</p>|
        <p class="text-sm">
            Colaboradores:
            <a class="text-sm text-primary" href="#">Valentin</a> |
            <a class="text-sm text-primary" href="#">Fatima</a> | 
            <a class="text-sm text-primary" href="#">Nicolas</a> |
            <a class="text-sm text-primary" href="#">Matias</a> | 
            <a class="text-sm text-primary" href="#">Juan Pablo</a> | 
            <a class="text-sm text-primary" href="#">Nahuel</a> | 
            <a class="text-sm text-primary" href="#">Franco</a> | 
    
        </p>
       
    </section>
    

</footer>