

<sectionc class="flex  items-center bg-white w-full justify-center gap-4 py-6">
    <div class=" flex1 border rounded-lg  flex-1 min-w-[280px] max-w-[500px] border-primary ">
        <iframe src="https://www.google.com/maps/d/embed?mid=1ePhJ4YKa7Zyv0nYUYkDpyLx8kfzGLE4&hl=es&ehbc=2E312F" aria-hidden="true" class="h-96 w-full min-w-[280px] max-w-[500px] rounded-lg border-none"  loading="lazy"  referrerpolicy="no-referrer" ></iframe>
        </div>
    <article class=" flex flex-col mx-4 text-center">

        <h1 class="text-primary text-4xl">Horarios de atención</h1>
       
        <h4 class="text-2xl mt-4 text-gray font-semibold">De lunes a sabado de:</h4>
        <h4 class="text-3xl mb-4 text-gray font-semibold">7AM a 8PM</h4>

        <p class="text-gray text-lg ">Telefono fijo: <a class="text-primary font-semibold " href="#">xxx-xxxx</a></p>
        <p class="text-lg text-gray ">Dirección: <a class="text-primary font-semibold "  href="#" >Calle 123 xxxx  </a></p>
    </article>
</sectionc>