---

// intefaz para ts map

//llamada a la api de google con la key en env
// codigo de maps
    // function que cree el mapa 
    // punto de referencia de la tienda
    

// hacer el llamado a funtcion y pegarlo en el window

---

<sectionc class="flex  items-center bg-white w-full justify-evenly py-6">
    <div class=" flex1 border rounded-lg  border-primary h ">
        <img class=" max-h-[400px] rounded-lg" src="/mendoza.png" alt="">
    </div>
    <article class=" flex flex-col mx-4 text-center">

        <h1 class="text-primary text-4xl">Horarios de atención</h1>
       
        <h4 class="text-2xl mt-4 text-gray font-semibold">De lunes a sabado de:</h4>
        <h4 class="text-3xl mb-4 text-gray font-semibold">7AM a 8PM</h4>

        <p class="text-gray text-lg ">Telefono fijo: <a class="text-primary font-semibold " href="#">xxx-xxxx</a></p>
        <p class="text-lg text-gray ">Dirección: <a class="text-primary font-semibold "  href="#" >Calle 123 xxxx  </a></p>
    </article>
</sectionc>