

<sectionc class="flex shadow-md flex-col-reverse items-center bg-white w-full justify-center gap-4 p-6 md:flex-row">
    <div class=" flex1 border rounded-lg  flex-1 min-w-[280px] max-w-[500px] border-primary ">
        <iframe src="https://www.google.com/maps/d/embed?mid=1u72Y2Ne1C4vtpujd4lzSxjz7JsPIKZA&hl=en&ehbc=2E312F" aria-hidden="true" class="h-96 w-full min-w-[280px] max-w-[500px] rounded-lg border-none"  loading="lazy"  referrerpolicy="no-referrer" ></iframe>
        </div>
    <article class=" flex flex-col mx-4 text-center">

        <h1 class="text-primary font-bold text-4xl">Horarios de atención</h1>
       
        <h4 class="text-2xl mt-4 text-black ">De lunes a sabado de:</h4>
        <h4 class="text-2xl mb-4 text-black ">9AM a 5PM</h4>

        <p class="text-black text-lg ">Telefono: <a class="text-primary font-semibold " href="">xxx-xxxx</a></p>
        <p class="text-lg text-black ">Dirección: <a class="text-primary font-semibold "  href="#" >Calle 10  </a></p>
    </article>
</sectionc>