<header>
    <nav class="w-full bg-white flex items-center justify-between p-4 h-24">
        <div class="flex items-center gap-12">
            <a href="/">
                <img src="/logo.png" alt="Expreso Rivadavia" class="w-48">
            </a>
            <ul class="flex gap-6 text-black text-lg font-normal" >
                <li><a href="/" class="hover:text-primary">Cotizar un envío</a></li>
                <li><a href="/new-shipment" class="hover:text-primary">Hacer un envío</a></li>
                <li><a href="/faqs" class="hover:text-primary">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <button class="bg-primary text-white text-lg font-bold px-6 py-2 rounded-md hover:bg-white hover:text-primary border-2 border-primary" onclick="location.href='/auth/login'">Ingresar</button>
    </nav>
</header>